.read-more{
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
}