*{
  box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

img{
  vertical-align: middle;
  display: inline-block;
} 

.col6{
  flex: 1 1 50%;
}

.col12{
  flex: 1 1 100%;
}

.ribbon {
  position: relative;
  margin-top: 10px;
  margin-bottom: 25px;
  background: #000;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-family: 'noto22';
  padding: 7.5px 0;
  .content{
    &:before{
      content: "";
      position: absolute;
      border-style: solid;
      border-color: #9b9b9b transparent;
      bottom: -16px;
      left: 0;
      border-width: 16px 0 0 30px;
    }
    &:after{
      content: "";
      position: absolute;
      border-style: solid;
      border-color: #9b9b9b transparent;
      bottom: -16px;
      right: 0;
      border-width: 16px 30px 0 0;
    }
  }
}