//RWD width


//font-size

//font-family

// color

//background-color
$color-hb-bgColor: rgba(0, 0, 0, 0.5);

//padding-size
$padding-small: 12px;
$padding-smaller: 6px;

//margin-size

//border-radius

